<div class="canScroll5">
	<% @combined_sorted.each_with_index do |a, i| %>
		<div class="element">
			<div class="images">
				<div class="">
					<% if a.is_work? %>
						<% if i == 0  %>
							<%= image_tag(a.large_image, :alt => "#{a.client} - #{a.title}") %>
						<% else %>
							<%= image_tag(a.image, :alt => "#{a.client} - #{a.title}") %>
						<% end %>
					<% elsif a.is_artist? %>
						<% if i == 0  %>
							<%= image_tag(a.large_image, :alt => "NEW SIGNING: #{a.name}") %>
						<% else %>
							<%= image_tag(a.image, :alt => "NEW SIGNING: #{a.name}") %>
						<% end %>
					<% elsif a.is_sound? %>
						<% if i == 0  %>
							<%= image_tag(a.large_image, :alt => "NEW PLAYLIST: #{a.title}") %>
						<% else %>
							<%= image_tag(a.image, :alt => "NEW PLAYLIST: #{a.title}") %>
						<% end %>
					<% else %>
						<% if i == 0  %>
							<%= image_tag(a.large_image, :alt => "#{a.homepage_title}") %>
						<% else %>
							<%= image_tag(a.image, :alt => "#{a.homepage_title}") %>
						<% end %>
					<% end %>
				</div>

				<div class="muteEffects">
	    			<section class="hidden-infos">
						<% if a.is_work? %>
							<a class="launchAnnouncement"><%= link_to '', work_path(a) %></a>
						<% elsif a.is_artist? %>
							<a class="launchAnnouncement"><%= link_to '', artist_path(a) %></a>
						<% elsif a.is_sound? %>
							<a class="launchAnnouncement"><%= link_to '', sound_path(a) %></a>
						<% else %>
							<a class="launchAnnouncement"><%= link_to '', announcement_path(a) %></a>
						<% end %>
		          		<div class="overlay3"></div>
						<div class="icons4 play"></div>	        					
					</section>
		        	<div class="vidTitle">
						<% if a.is_work? %>
							<div class="title-wrap">
		            			<h3><%= a.client %> <i>"<%= a.title %>"</i></h3>
		          			</div>
							<div class="subtitle-wrap">
	            				<p><%= a.artist_name %>: <%= a.track_name %></p>
							</div>
							<div class="subtitle-wrap borderTop">
        						<p><%= a.created_at.strftime("%B %Y") %></p>
							</div>
						<% elsif a.is_artist? %>
		        			<div class="title-wrap">
			            		<h3>NEW SIGNING: <%= a.name %></h3>
			          		</div>
							<div class="subtitle-wrap">
		            			<p><%= truncate(a.description, :length => 80) %></p>
							</div>
							<div class="subtitle-wrap borderTop">
            					<p><%= a.created_at.strftime("%B %Y") %></p>
							</div>
						<% elsif a.is_sound? %>
							<div class="title-wrap">
			            		<h3>NEW PLAYLIST: <%= a.title %></h3>
			          		</div>
							<div class="subtitle-wrap">
		            			<p><%= truncate(a.description, :length => 80) %></p>
							</div>
							<div class="subtitle-wrap borderTop">
            					<p><%= a.created_at.strftime("%B %Y") %></p>
							</div>
						<% else %>
							<div class="title-wrap">
			            		<h3><%= a.homepage_title %></h3>
			          		</div>
							<div class="subtitle-wrap">
		            			<p><%= truncate(a.description, :length => 80) %></p>
							</div>
							<div class="subtitle-wrap borderTop">
            					<p><%= a.created_at.strftime("%B %Y") %></p>
							</div>
						<% end %>
		        	</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
