<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-4 col-sm-offset-4 topper">

	<h1 class="formHeader">Edit <%= resource_name.to_s.humanize %> details</h1>
	<hr class="projectSeparator" />

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>

	  	<div><%= f.label :email, :class => "formLabel" %><br />
	  	<%= f.email_field :email, autofocus: true, :class => "formField" %></div>
	
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

	  	<div><%= f.label :password, :class => "formLabel" %><br />
	    <%= f.password_field :password, autocomplete: "off", :class => "formField" %></div>

	  	<div><%= f.label :password_confirmation, :class => "formLabel" %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "formField" %></div>
	
		<div><%= f.label :current_password, :class => "formLabel"  %><br /> 
			<i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, autocomplete: "off", :class => "formField"  %></div>

	  	<div><%= f.submit "Update", :class => "btn" %></div>
	<% end %>
	
	<hr class="projectSeparator" />

	<%= link_to "Back", :back, :class => 'btn' %>
	
</div>
