<div class="element">
	<div class="images">
		<div class="imageContainer">
			<% if artist_counter == 0 %>
				<%= image_tag artist.large_image, alt: "#{artist.name}" %>	
			<% else %>
				<%= image_tag artist.image, alt: "#{artist.name}" %>	
			<% end %>
		</div>

		<div class="muteEffects">
			<section class="hidden-infos">
				<a class="launchAnnouncement"><%= link_to '', artist_path(artist) %></a>
          		<div class="overlay3"></div>
				<div class="icons4 play"></div>	        					
			</section>
        	<div class="vidTitle">
        		<div class="title-wrap">
	            	<h3>NEW SIGNING: <%= artist.name %></h3>
	          	</div>
				<div class="subtitle-wrap">
            		<p><%= truncate(artist.description, :length => 80) %></p>
				</div>
				<div class="subtitle-wrap borderTop">
    				<p><%= artist.created_at.strftime("%B %Y") %></p>
				</div>
        	</div>
		</div>
	</div>
</div>
