<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your artist's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for @artist, html: { multipart: true } do |f| %>
				<div class="col-md-5">
					<%= f.label :click_if_this_is_the_latest_artist, class: "formLabel" %>
					<%= f.check_box :latest %> <br /><br/>
					<%= f.label :click_to_add_this_to_the_homepage, class: "formLabel" %>
					<%= f.check_box :homepage %> <br /><br/>
					<%= f.label :name, class: "formLabel" %>
	    			<%= f.text_field :name, class: 'formField' %>
					<%= f.label :info, class: "formLabel" %>
	    			<%= f.text_area :description, class: 'formArea' %>
				</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-6">
					<%= f.label :soundcloud_identifier_eg_59219255, class: "formLabel" %>
	    			<%= f.text_field :soundcloud, class: 'formField' %>
					<%= f.label :artist_small_image_crop_to_710X210_before_uploading, class: "formLabel" %><br />
					<%= f.file_field :image %>
					<% if @artist.image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @artist.image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :artist_large_image_crop_to_710X400_before_uploading, class: "formLabel" %><br />
					<%= f.file_field :large_image %>
					<% if @artist.large_image.exists? %>
					  <p class="existingImageName">{ Current Image: "<%= @artist.large_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :artist_square_image_crop_to_300X300_before_uploading, class: "formLabel" %><br />
					<%= f.file_field :square_image %>
					<% if @artist.square_image.exists? %>
					  <p class="existingImageName">{ Current Image: "<%= @artist.square_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= link_to "Cancel", cms_path, :class => "btn" %>
		    		<% if !@user.email == "sofia@floatpr.com" %>
						<%= f.submit class: "btn", data: {disable_with: "Submitting..."} %>
					<% end %>
				</div>
			<% end %>
		</div>
	
	</div>
</div>