<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your artist's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@artist) do |f| %>
				<div class="col-md-5">
					<%= f.label :name, class: "formLabel" %>
	    			<%= f.text_field :name, class: 'formField' %>
					<%= f.label :info, class: "formLabel" %>
	    			<%= f.text_area :description, class: 'formArea' %>
					<%= f.label :soundcloud_identifier_eg_59219255, class: "formLabel" %>
	    			<%= f.text_field :soundcloud, class: 'formField' %>
					<%= f.label :artist_image_crop_to_710X210_before_uploading, class: "formLabel" %><br />
					<%= f.file_field :image %>
				</div>
	    		<%= f.submit :class => "btn" %>
			<% end %>
		</div>
	
	</div>
</div>