<div class="canScroll4 fadeMe">
	<% @artists.each do |a| %>
		<div class="element">
			<div class="images">
				<div class="">
					<% if a.latest?  %>
						<%= image_tag(a.large_image, :alt => "#{a.name}") %>
					<% else %>
						<%= image_tag(a.image, :alt => "#{a.name}") %>
					<% end %>
				</div>
				<div class="muteEffects">
	    			<section class="hidden-infos">
						<a class="launchAnnouncement"><%= link_to '', artist_path(a) %></a>
		          		<div class="overlay3"></div>
						<div class="icons4 play"></div>	        					
					</section>
		        	<div class="vidTitle">
						<div class="title-wrap">
			            	<h3 class="descriptionSize1 upcase"><%= a.name %></h3>
			          	</div>
						<div class="subtitle-wrap">
		            		<p><%= truncate(a.description, :length => 80, :class => "descriptionSize1") %></p>
						</div>
		        	</div>
				</div>
	    	</div>
		</div>
	<% end %>
</div>