<div class="canScroll4">	
	<div class="projectInfo">
		<%= link_to '', :back, :class => "artistCloseIcon" %>
		<h1 class="projectName"><%= @artist.name %></h1>
		<div class="links">
			<input id="twitter" type="hidden" 
				data-url="http://fairsplitmusic.com/artists/<%= @artist.slug %>"
				data-description="<%= truncate(@artist.description, :length => 90) %>" 
				data-via="fairsplitmusic" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'twitter' }, :class => 'prettySocial fa fa-twitter socialLinks' %>
			<input id="facebook" type="hidden" 
				data-url="http://fairsplitmusic.com/artists/<%= @artist.slug %>" 
				data-title="Fairsplit Music artist"
				data-description="<%= truncate(@artist.description, :length => 90) %>" 
				data-media="http://sonnyt.com/assets/imgs/prettySocial.png" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'facebook' }, :class => 'prettySocial fa fa-facebook socialLinks' %>
			<input id="googleplus" type="hidden" 
				data-url="http://fairsplitmusic.com/artists/<%= @artist.slug %>" 
				data-description="<%= truncate(@artist.description, :length => 90) %>" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'googleplus' }, :class => 'prettySocial fa fa-google-plus socialLinks' %>
			<input id="pinterest" type="hidden" 
				data-url="http://fairsplitmusic.com/artists/<%= @artist.slug %>" 
				data-description="<%= truncate(@artist.description, :length => 90) %>" 
				data-media="http://sonnyt.com/assets/imgs/prettySocial.png" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'pinterest' }, :class => 'prettySocial fa fa-pinterest socialLinks' %>
			<input id="linkedin" type="hidden" 
				data-url="http://fairsplitmusic.com/artists/<%= @artist.slug %>" 
				data-title="Fairsplit Music artist" 
				data-description="<%= truncate(@artist.description, :length => 90) %>" 
				data-via="fairsplitmusic" 
				data-media="http://sonnyt.com/assets/imgs/prettySocial.png" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'linkedin' }, :class => 'prettySocial fa fa-linkedin socialLinks' %>
		</div>
		<hr class="projectSeparator" />
		<div class="artist-left">
			<p class="projectDetail"><%= simple_format @artist.description, :class => "projectDetail" %></p>
		</div>
		<div class="artist-right">
			<% if @artist.works.count > 0 %>
				<div class="artistVideoContainer">
					<% @artist.works.each_with_index do |aw, i| %>
						<div id="videoLoader<%= i %>">
							<span class="centerer"></span>
							<%= image_tag 'status2.gif', :id => "loadingImage" %>
						</div>
						<div class="fitvids">
							<iframe id="videoPlayer" src="https://player.vimeo.com/video/<%= aw.vimeo %>?title=0&amp;byline=0&amp;" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="videoTitling">
							<%= aw.client %> &nbsp; | &nbsp; <i><%= aw.title %></i>
						</div>
						<hr class="projectSeparator" />
					<% end %>
				</div>
			<% elsif @artist.square_image %>
				<div class="artistSquareContainer">
					<div class="squareImage">
						<%= image_tag(@artist.square_image, :class => "squareImage") %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="artist-bottom">
			<% if @artist.soundcloud? %>
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/<%= @artist.soundcloud %>&amp;color=bdbdbd&amp;background_color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_artwork=false">
				</iframe>
			<% end %>
		</div>
	</div>
</div>