<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">News items</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @announcements.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>TITLE</th>
							<th>DESCRIPTION</th>
							<th>VIMEO</th>
							<th>S'CLOUD</th>
							<th>POSTING URL</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @announcements.each do |a| %>
							<tr class="tableRow">
								<td width="16%"><%= truncate(a.homepage_title, :length => 15) %></td>
								<td width="41%"><%= truncate(a.description, :length => 40) %></td>
								<td width="9%"><%= a.vimeo %></td>
								<td width="11%"><%= a.soundcloud %></td>
								<td width="20%">
									<a href="../#filter=.announcements/announcement#<%= a.uid %>" target="_blank">
										<%= a.short_uid_url %>	
									</a>
								</td>
								<td width="2%" class="topperButtons"><%= link_to "edit", edit_announcement_path(a), :class => "btn btn2" %></td>
								<td width="1%" class="topperButtons"><%= button_to "X", a, :method => :delete, :class => "btn btn2" %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO NEWS ITEMS YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="works" class="modal-model-type">
	<h6><%= link_to 'Add news item', new_announcement_path, :class => "darkButton2" %></h6>
</div>