<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">Artists</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @artists.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>NAME</th>
							<th>INFO</th>
							<th>LATEST</th>
							<th>S'CLOUD</th>
							<th>POSTING URL</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @artists.each do |a| %>
							<tr class="tableRow">
								<td width="20%"><%= truncate(a.name, :length => 20) %></td>
								<td width="39%"><%= truncate(a.description, :length => 42) %></td>
								<td width="7%"><%= a.latest %></td>
								<td width="11%"><%= a.soundcloud %></td>
								<td width="20%">
									<a href="../#filter=.artists/artist#<%= a.id %>" target="_blank">
										<%#= a.short_id_url %>	
									</a>
								</td>
								<td width="2%" class="topperButtons"><%= link_to "edit", edit_artist_path(a), :class => "btn btn2" %></td>
								<td width="1%" class="topperButtons"><%= button_to "X", a, :method => :delete, :class => "btn btn2" %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO ARTIST YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="works" class="modal-model-type">
	<h6><%= link_to 'Add artist', new_artist_path, :class => "darkButton2" %></h6>
</div>