<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">Home page image</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @homes.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>TITLE</th>
							<th>TYPE</th>
							<th>SIZE</th>
							<th>LAST UPDATED</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @homes.each do |h| %>
							<tr class="tableRow">
								<td width="25%"><%= truncate(h.image_file_name, :length => 28) %></td>
								<td width="15%"><%= h.image_content_type %></td>
								<td width="20%"><%= h.image_file_size/1000.0 %> mb</td>
								<td width="30%"><%= h.image_updated_at %></td>
								<td width="6%"><%= link_to image_tag('edit2.png'), edit_home_path(h) %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO HOME PAGE IMAGE YET... ADD ONE BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="homes" class="modal-model-type">
	<h6><% if @homes.count < 1 %><%= link_to 'Add home page image', new_home_path, :class => "darkButton2" %><% end %></h6>
</div>