<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">Playlists</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @sounds.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>TITLE</th>
							<th>INFO</th>
							<th>S'CLOUD</th>
							<th>LATEST</th>
							<th>POSTING URL</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @sounds.each do |s| %>
							<tr class="tableRow">
								<td width="22%"><%= truncate(s.title, :length => 20) %></td>
								<td width="30%"><%= truncate(s.description, :length => 32) %></td>
								<td width="12%"><%= s.soundcloud %></td>
								<td width="7%"><%= s.latest %></td>
								<td width="26%">
									<a style="font-size:10px;" href="../#filter=.playlists/playlist#<%= s.id %>" target="_blank">
										<%= "https://fairsplitmusic.com/#filter=.playlists/" + "playlist" + "#{s.id}" %>	
									</a>
								</td>
								<td width="2%" class="topperButtons"><%= link_to "edit", edit_sound_path(s), :class => "btn btn2" %></td>
								<td width="1%" class="topperButtons"><%= button_to "X", s, :method => :delete, :class => "btn btn2" %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO PLAYLISTS YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="works" class="modal-model-type">
	<h6><%= link_to 'Add new playlist', new_sound_path, :class => "darkButton2" %></h6>
</div>