<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">Works</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @works.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>TITLE</th>
							<th>CLIENT</th>
							<th>DESCRIPTION</th>
							<th>VIMEO</th>
							<th>LATEST</th>
							<th>ARTIST</th>
							<th>POSTING URL</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @works.each do |work| %>
						<% artist_name = work.artist.name rescue "NONE" %>
							<tr class="tableRow">
								<td width="12%"><%= truncate(work.title, :length => 14) %></td>
								<td width="8%"><%= truncate(work.client, :length => 8) %></td>
								<td width="20%"><%= truncate(work.description, :length => 25) %></td>
								<td width="10%"><%= work.url %></td>
								<td width="7%"><%= work.latest %></td>
								<td width="12%"><%= truncate(artist_name, :length => 11) %></td>
								<td width="24%">
									<a style="font-size:10px;" href="../#filter=.works/work#<%= work.id %>" target="_blank">
										<%= "https://fairsplitmusic.com/#filter=.works/" + "work" + "#{work.id}" %>	
									</a>
								</td>
								<td width="2%" class="topperButtons"><%= link_to "edit", edit_work_path(work), :class => "btn btn2" %></td>
								<td width="1%" class="topperButtons"><%= button_to "X", work, :method => :delete, :class => "btn btn2" %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO WORKS YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="works" class="modal-model-type">
	<h6><%= link_to 'Add new work', new_work_path, :class => "darkButton2" %></h6>
</div>