<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">Works</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @works.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>TITLE</th>
							<th>CLIENT</th>
							<th>INFO</th>
							<th>VIMEO</th>
							<th>LATEST</th>
							<th>BELONGS TO</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @works.each do |work| %>
						<% artist_name = work.artist.name rescue "NONE" %>
							<tr class="tableRow">
								<td width="16%"><%= truncate(work.title, :length => 18) %></td>
								<td width="13%"><%= truncate(work.client, :length => 10) %></td>
								<td width="32%"><%= truncate(work.description, :length => 40) %></td>
								<td width="10%"><%= work.url %></td>
								<td width="7%"><%= work.latest %></td>
								<td width="16%"><%= truncate(artist_name, :length => 14) %></td>
								<td width="3%"><%= link_to image_tag('edit2.png'), edit_work_path(work) %></td>
								<td width="3%"><%= link_to image_tag('delete2.png'), work, :confirm => 'Are you sure you want to delete this work?', :method => :delete %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO WORKS YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="works" class="modal-model-type">
	<h6><%= link_to 'Add new work', new_work_path, :class => "darkButton2" %></h6>
</div>