<div class="cmsWrapper">
	<div class="releases">
		<div class="divHeader">Works</div>
		<div class="tableWrapper">
			<div class="tableContent">
				<% if @works.count > 0 %>
					<table width="100%">
						<tr class="tableHeader">
							<th>TITLE</th>
							<th>CLIENT</th>
							<th>INFO</th>
							<th>VIMEO</th>
							<th>LATEST</th>
							<th>HOME</th>
							<th>ARTIST</th>
							<th>POSTING URL</th>
						</tr>
						<tr><hr class="ruler"/></tr>
						<% @works.each do |work| %>
						<% artist_name = work.artist.name rescue "NONE" %>
							<tr class="tableRow">
								<td width="18%"><%= truncate(work.title, :length => 14) %></td>
								<td width="16%"><%= truncate(work.client, :length => 13) %></td>
								<% if work.description.blank? || work.description == '' %>
									<td width="5%">NO</td>
								<% else %>
									<td width="5%">YES</td>
								<% end %>
								<td width="10%"><%= work.vimeo %></td>
								<td width="7%"><%= work.latest %></td>
								<td width="7%"><% if work.homepage == true %><%= "true" %><% else %><%= "false" %><% end %></td>
								<td width="12%"><%= truncate(artist_name, :length => 11) %></td>
								<td width="22%">
									<a href="../#filter=.works/work#<%= work.id %>" target="_blank">
										<%= work.short_id_url rescue nil %>	
									</a>
								</td>
								<% if work.short_uid_url == '' || work.short_uid_url.blank? %>
									<td width="1%" class="topperButtons">
										<%= link_to 'L', get_work_links_path(:id => work.id), :title => "Generate sharing link for #{work.title}", :class => "btn btn2 tips" %>
									</td>
								<% else %>
									<td width="1%" class="topperButtons"></td>
								<% end %>
								<td width="1%" class="topperButtons"><%= link_to "E", edit_work_path(work), :title => "Edit #{work.title}", :class => "btn btn2 tips" %></td>
								<% if @user.email != @testing %>
									<td width="1%" class="topperButtons"><%= button_to "X", work, :method => :delete, :class => "btn btn3 delete_post", :remote => true %></td>		
								<% end %>
							</tr>
						<% end %>
					</table>
				<% else %>
					<table width="100%">
						<tr class="tableRow empty">
							<td>
								<em>YOU HAVE NO WORKS YET... ADD SOME BELOW ?!</em>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<h6>
	<input type="hidden" value="works" class="modal-model-type">
	<h6><%= link_to 'Add new work', new_work_path, :class => "darkButton2" %></h6>
</div>