<div class="col-md-12">
	<div class="static">
		<div class="logo2"><%= link_to(image_tag('logo.png'), announcements_path) %></a></div>
		<div class="col-md-10 col-sm-offset-1 topper">
			<h1 class="formHeader">Edit your content below</h1>
			<hr class="projectSeparator" />
		</div>
	</div>
	<div class="col-md-10 col-sm-offset-1 topper">	
		<div class="fixerScroll bottom">
			<%= render partial: 'abouts' %>
			<%= render partial: 'announcements' %>
			<%= render partial: 'works' %>
			<%= render partial: 'artists' %>
			<%= render partial: 'sounds' %>
			<%= render partial: 'clients' %>
		</div>
	</div>
</div>