<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your work's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@work) do |f| %>
				<div class="col-md-5">
					<%= f.label :click_if_this_is_the_latest_work, class: "formLabel" %>
					<%= f.check_box :latest %> <br /><br/>
					<%= f.label :click_to_add_this_to_the_homepage, class: "formLabel" %>
					<%= f.check_box :homepage %> <br /><br/>
					<%= f.label :title, class: "formLabel" %>
	    			<%= f.text_field :title, class: 'formField' %>
					<%= f.label :client, class: "formLabel" %>
	    			<%= f.text_field :client, class: 'formField' %>
					<%= f.label :type_of_work, class: "formLabel" %>
	    			<%= f.text_field :type_of_work, class: 'formField' %>
					<%= f.label :artist_name, class: "formLabel" %>
	    			<%= f.text_field :artist_name, class: 'formField' %>
					<%= f.label :Assign_to_which_artist_?, class: "formLabel" %><br/>
					<%= f.collection_select :artist_id, Artist.all, :id, :name, :include_blank => true %><br/><br/>
					<%= f.label :track_name, class: "formLabel" %>
	    			<%= f.text_field :track_name, class: 'formField' %>
					<%= f.label :vimeo_identifier_eg_86412013, class: "formLabel" %>
	    			<%= f.text_field :vimeo, class: 'formField' %>
				</div>
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-6">
					<%= f.label :description, class: "formLabel" %>
	    			<%= f.text_area :description, class: 'formArea' %>
					<%= f.label :small_image_710X210, class: "formLabel" %><br />
					<%= f.file_field :image %>
					<% if @work.image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @work.image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :large_image_710X400, class: "formLabel" %><br />
					<%= f.file_field :large_image %>
					<% if @work.large_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @work.large_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= link_to "Cancel", cms_path, :class => "btn" %>
					<% if @user.email != "sofia@floatpr.com" %>
						<%= f.submit class: "btn", data: {disable_with: "Submitting..."} %>
					<% end %>
				</div>
			<% end %>
		</div>
	
	</div>
</div>