<div class="element">
	<div class="images">
		<div class="imageContainer">
			<% if work_counter == 0 %>
				<%= image_tag work.large_image, alt: "#{work.title} - #{work.client}" %>
			<% else %>
				<%= image_tag work.image, alt: "#{work.title} - #{work.client}" %>
			<% end %>
		</div>

		<div class="muteEffects">
			<section class="hidden-infos">
				<a class="launchAnnouncement"><%= link_to '', work_path(work) %></a>
          		<div class="overlay3"></div>
				<div class="icons4 play"></div>	        					
			</section>
        	<div class="vidTitle">
				<div class="title-wrap">
            		<h3 class="descriptionSize1 upcase"><%= work.client %> <i class="descriptionSize1 upcase italics">"<%= work.title %>"</i></h3>
          		</div>
				<div class="subtitle-wrap">
        			<p class="descriptionSize1 upcase italics"><%= work.artist_name %>: <%= work.track_name %></p>
				</div>
				<div class="subtitle-wrap borderTop italics">
					<p><%= work.created_at.strftime("%B %Y") %></p>
				</div>
        	</div>
		</div>
	</div>
</div>
