<div class="canScroll4">
	<div class="projectInfo">
		<%= link_to '', works_path, :class => "artistCloseIcon" %>
		<h1 class="projectName titleSize1"><%= @work.client %> "<%= @work.title %>"</h1>
		<h3 class="projectSubtitle fixerSpace descriptionSize1 upcase"><%= @work.type_of_work %></h3>
		<h3 class="projectSubtitle spacer descriptionSize1 upcase italics"><em>MUSIC - </em><%= @work.artist_name %>: <%= @work.track_name %></h3>
		<div class="links">
			<input id="twitter" type="hidden" 
				data-url="<%= @currentUrl %>"
				data-image="<%= @work.facebook_image %>"
				data-description="Great sync!" 
				data-via="fairsplitmusic" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'twitter' }, :class => 'prettySocial fa fa-twitter socialLinks' %>
			<a data-service="facebook" data-action="post" href="https://www.facebook.com/dialog/share?app_id=1723612194533881&amp;display=popup&amp;href=https%3A%2F%2Fvimeo.com%2F<%= @work.vimeo %>%3Fref%3Dfb-share&amp;redirect_uri=<%= @currentUrl %>" target="_blank" title="Share on Facebook" class="fa fa-facebook socialLinks" data-width="500" data-height="300" data-fatal-attraction="container:player|component:success_share|keyword:facebook"></a>
			<input id="googleplus" type="hidden" 
				data-url="<%= @currentUrl %>"
				data-media="<%= @work.facebook_image %>"
				data-description="Fairsplit Music recently worked with <%= @work.client %> on thier new project <%= @work.title %>. Have a look at the results!"
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'googleplus' }, :class => 'prettySocial fa fa-google-plus socialLinks' %>
			<input id="pinterest" type="hidden" 
				data-url="<%= @currentUrl %>" 
				data-description="Fairsplit Music recently worked with <%= @work.client %> on thier new project <%= @work.title %>. Have a look at the results!"
				data-media="<%= @work.facebook_image %>" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'pinterest' }, :class => 'prettySocial fa fa-pinterest socialLinks' %>
			<input id="linkedin" type="hidden" 
				data-url="<%= @currentUrl %>" 
				data-title="Fairsplit Music project" 
				data-description="Fairsplit Music recently worked with <%= @work.client %> on thier new project <%= @work.title %>. Have a look at the results!"
				data-via="fairsplitmusic" 
				data-media="<%= @work.facebook_image %>" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'linkedin' }, :class => 'prettySocial fa fa-linkedin socialLinks' %>
		</div>
		<hr class="projectSeparator" />
		<div class="fitvids">
			<% if @work.vimeo? %>
			<div id="videoLoaderWork">
				<span class="centerer2"></span>
				<%= image_tag 'status2.gif', :id => "loadingImage2" %>
			</div>
        	<iframe id="videoPlayer" src="https://player.vimeo.com/video/<%= @work.vimeo %>?title=0&amp;byline=0&amp;" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<% end %>
		</div>
		<% if @work.vimeo? %><hr class="projectSeparator" /><% end %>
		<% if @work.description? %><p class="projectDetail"><%= simple_format @work.description, :class => "projectDetail descriptionSize1" %></p><% end %>
	</div>
</div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '1723612194533881',                   // App ID from the app dashboard
      channelUrl : '//www.fairsplitmusic.com', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>