<div class="rightHandSection2">
	<!--<hr class="afterTitle"/>-->
	
	<div class="canScroll2">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="row padder3">
					<div class="col-xs-12">
						<% @abouts.each do |a| %>
							<h2 class="about-title" style="text-align:justify;">
								<%= a.title %>
							</h2>
							<div class="padder justify">
								<%= simple_format(a.description, class: "justify") %>
								<br/>
							</div>
							<i class="aboutFooter justify"><%= a.footer %> - <%= Date.today.strftime("%B") %> <%= Time.now.year %></i>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>