<div class="rightHandSection2">
	<div class="canScroll3">
		<% @sounds.each do |s| %>
			<div class="element">
				<div class="images">
					<div class="playlist<%= s.id %>">
						<% if s.latest?  %>
							<%= image_tag(s.large_image) %>
						<% else %>
							<%= image_tag(s.image) %>
						<% end %>
					</div>
					<div class="muteEffects">
		    			<section class="hidden-infos">
							<input type="hidden" value=<%= s.id %> class="playlist-object-id"> 
							<a class="launchPlaylist"></a>
			          		<div class="overlay3"></div>
							<div class="icons4 play"></div>	        					
						</section>
			        	<div class="vidTitle">
			        		<div class="title-wrap">
			            		<h3><%= s.title %></i></h3>
			          		</div>
			        	</div>
					</div>
					<div class="muteEffects2">
		    			<section class="hidden-infos">
							<input type="hidden" value=<%= a.id %> class="artist-object-id"> 
							<a class="launchArtist"></a>       					
						</section>
			        	<div class="vidTitle">
			        		<div class="titleWrap">
			            		<h3><%= s.title %></h3>
			          		</div>
			        	</div>
					</div>
		    	</div>
			</div>
			<div id="playlist<%= s.id %>" style="display:none;">
				<div class="projectInfo" id="scrollHerePlaylist<%= s.id %>">
					<input type="hidden" value=<%= s.id %> class="playlist-object-id">
					<a class="playlistCloseIcon"></a>
					<h1 class="projectName"><%= s.title %></h1>
					<hr class="projectSeparator" />
					<div class="fitvids">
						<iframe width="100%" height="450" scrolling="no" frameborder="no" id="soundiFrame<%= s.id %>" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/<%= s.soundcloud %>&amp;color=bdbdbd&amp;background_color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_artwork=false" src="about:blank">
						</iframe>
					</div>
					<hr class="projectSeparator" />
					<% if s.description? %><p class="projectDetail"><%= simple_format s.description, :class => "projectDetail" %></p><% end %>
				</div>
			</div>
		<% end %>
		<!--<div id="backtotop2">
		  <ul>
		    <li><a id="toTop2" class="bounce" href="#" onClick="return false">Back to Top</a></li>
		  </ul>
		</div>-->
	</div>
</div>