<div class="col-md-12">
	<div class="logo2"><%= link_to(image_tag('splitPic.png'), cms_path) %></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your social record's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@socialcont) do |f| %>
				<div class="col-md-12">
					<%= f.label :news_image_1200X630, class: "formLabel" %><br />
					<%= f.file_field :announcements_image %>
					<% if @socialcont.announcements_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @socialcont.announcements_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :works_image_1200X630, class: "formLabel" %><br />
					<%= f.file_field :works_image %>
					<% if @socialcont.works_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @socialcont.works_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :artists_image_1200X630, class: "formLabel" %><br />
					<%= f.file_field :artists_image %>
					<% if @socialcont.artists_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @socialcont.artists_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :playlists_image_1200X630, class: "formLabel" %><br />
					<%= f.file_field :playlists_image %>
					<% if @socialcont.playlists_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @socialcont.playlists_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :abouts_image_1200X630, class: "formLabel" %><br />
					<%= f.file_field :abouts_image %>
					<% if @socialcont.abouts_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @socialcont.abouts_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :contacts_image_1200X630, class: "formLabel" %><br />
					<%= f.file_field :contacts_image %>
					<% if @socialcont.contacts_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @socialcont.contacts_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= link_to "Cancel", cms_path, :class => "btn" %>
					<% if @user.email != @testing %>
						<%= f.submit class: "btn", data: {disable_with: "Submitting..."} %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>