<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your home page content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@home) do |f| %>
				<div class="col-md-6">
					<%= f.label :latest_news_image_image_710X150, class: "formLabel" %><br />
					<%= f.file_field :image %><br/>
					<br />
					<%= link_to "Cancel", cms_path, :class => "btn" %>
					<%= f.submit class: "btn", data: {disable_with: "Submitting..."} %>
				</div>
			<% end %>
		</div>
	
	</div>
</div>