<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">
		
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4"><h1 class="formHeader">Sign In</h1></div>
		<div class="col-md-4">&nbsp;</div>
		
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<div class="col-md-4">&nbsp;</div>
			<div class="col-md-4">
				
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

				  <div><%= f.label :email, :class => "formLabel" %><br />
				  <%= f.email_field :email, autofocus: true, :class => "formField" %></div>

				  <div><%= f.label :password, :class => "formLabel" %><br />
				    <%= f.password_field :password, autocomplete: "off", :class => "formField" %></div>

				  <% if devise_mapping.rememberable? -%>
					 <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				  <% end -%>

				  <div><%= f.submit "Sign In", class: "btn" %></div>
				<% end %>
				
				<%= render "devise/shared/links" %>
				
			</div>
			<div class="col-md-4">&nbsp;</div>
		</div>
	</div>
</div>