<div class="col-md-12">
	<div class="logo2"><%= link_to(image_tag('newLogo.jpg'), cms_path) %></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your about page copy below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@about) do |f| %>
				<div class="col-md-6">
					<%= f.label :email_address, class: "formLabel" %>
	    			<%= f.text_field :email, class: 'formField' %>
					<%= f.label :title, class: "formLabel" %>
	    			<%= f.text_field :title, class: 'formField' %>
					<%= f.label :description, class: "formLabel" %>
	    			<%= f.text_area :description, class: 'formArea' %>
					<%= f.label :footer, class: "formLabel" %>
	    			<%= f.text_field :footer, class: 'formField' %>
					<br />
					<%= link_to "Cancel", cms_path, :class => "btn" %>
					<% if @user.email != @testing %>
						<%= f.submit class: "btn", data: {disable_with: "Submitting..."} %>
					<% end %>
				</div>
			<% end %>
		</div>
	
	</div>
</div>