<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your playlists's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@sound) do |f| %>
				<div class="col-md-5">
					<%= f.label :click_if_this_is_the_latest_playlist, class: "formLabel" %>
					<%= f.check_box :latest, {}, true, false %> <br /><br/>
					<%= f.label :title, class: "formLabel" %>
	    			<%= f.text_field :title, class: 'formField' %>
					<%= f.label :homepage_title, class: "formLabel" %>
	    			<%= f.text_field :homepage_title, class: 'formField' %>
					<%= f.label :soundcloud_identifier_eg_86412013, class: "formLabel" %>
	    			<%= f.text_field :soundcloud, class: 'formField' %>
					<%= f.label :image_710X210, class: "formLabel" %><br />
					<%= f.file_field :image %>
					<% if @sound.image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @sound.image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<%= f.label :large_image_710X400, class: "formLabel" %><br />
					<%= f.file_field :large_image %>
					<% if @sound.large_image.exists? rescue nil %>
						<p class="existingImageName">{ Current Image: "<%= @sound.large_image_file_name %>" }</p><br/>
					<% else %>
						<br/>
					<% end %>
					<br/>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<%= f.label :description, class: "formLabel" %>
	    			<%= f.text_area :description, class: 'formArea' %>
					<%= button_to "Cancel", cms_path, :class => "btn" %>
					<%= f.submit :class => "btn" %>
				</div>
			<% end %>
		</div>
	
	</div>
</div>