<div class="col-md-12">
	<div class="logo2"><a href="../"><%= image_tag('logo.png') %></a></div>
</div>

<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 topper">

		<h1 class="formHeader">Add/edit your playlists's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@sound) do |f| %>
				<div class="col-md-12">
					<%= f.label :click_if_this_is_the_latest_playlist, class: "formLabel" %>
					<%= f.check_box :latest, {}, true, false %> <br /><br/>
					<%= f.label :title, class: "formLabel" %>
	    			<%= f.text_field :title, class: 'formField' %>
					<%= f.label :description, class: "formLabel" %>
	    			<%= f.text_area :description, class: 'formArea' %>
					<%= f.label :soundcloud_identifier_eg_86412013, class: "formLabel" %>
	    			<%= f.text_field :url, class: 'formField' %>
					<%= f.label :image_710X210, class: "formLabel" %><br />
					<%= f.file_field :image %><br/>
					<br /><%= f.submit :class => "btn" %>
				</div>
			<% end %>
		</div>
	
	</div>
</div>