<div class="element">
	<div class="images">
		<div class="imageContainer">
			<%= image_tag sound.image, alt: "#{sound.title}" %>
			<div class="overImage"></div>
		</div>

		<div class="muteEffects">
			<section class="hidden-infos">
				<a class="launchAnnouncement"><%= link_to '', release_path(sound) %></a>
          		<div class="overlay3"></div>
          		<!-- 				<div class="icons5 play"></div>	   -->      					
			</section>
        	<div class="vidTitle2">
				<div class="title-wrap2">
            		<h3 class="descriptionSize1 upcase title">NEW PLAYLIST: <%= sound.title %></h3>
          		</div>
				<% if sound.description == '' || sound.description.blank? %>
					<div class="subtitle-wrap2">
           				<p class="subtitle"><%= sound.created_at.strftime("%B %Y") %></p>
					</div>
				<% else %>
					<div class="subtitle-wrap2">
	           			<p class="subtitle"><%= truncate(sound.description, :length => 260, :class => "descriptionSize1") %></p>
					</div>
					<div class="subtitle-wrap borderTop italics">
	   					<p><%= sound.created_at.strftime("%B %Y") %></p>
					</div>
				<% end %>
        	</div>
		</div>
	</div>
</div>
