<div class="canScroll4">
	<div class="projectInfo">
		<%= link_to '', sounds_path, :class => "artistCloseIcon" %>
		<h1 class="projectName titleSize1"><%= @sound.title %></h1>
		<div class="links">
			<input id="twitter" type="hidden" 
				data-url="http://fairsplitmusic.com/sounds/<%= @sound.slug %>"
				data-description="<%= truncate(@sound.description, :length => 90) %>" 
				data-via="fairsplitmusic" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'twitter' }, :class => 'prettySocial fa fa-twitter socialLinks' %>
			<input id="facebook" type="hidden" 
				data-url="http://fairsplitmusic.com/sounds/<%= @sound.slug %>" 
				data-title="Fairsplit Music project"
				data-description="<%= truncate(@sound.description, :length => 90) %>" 
				data-media="http://sonnyt.com/assets/imgs/prettySocial.png" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'facebook' }, :class => 'prettySocial fa fa-facebook socialLinks' %>
			<input id="googleplus" type="hidden" 
				data-url="http://fairsplitmusic.com/sounds/<%= @sound.slug %>" 
				data-description="<%= truncate(@sound.description, :length => 90) %>" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'googleplus' }, :class => 'prettySocial fa fa-google-plus socialLinks' %>
			<input id="pinterest" type="hidden" 
				data-url="http://fairsplitmusic.com/sounds/<%= @sound.slug %>" 
				data-description="<%= truncate(@sound.description, :length => 90) %>" 
				data-media="http://sonnyt.com/assets/imgs/prettySocial.png" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'pinterest' }, :class => 'prettySocial fa fa-pinterest socialLinks' %>
			<input id="linkedin" type="hidden" 
				data-url="http://fairsplitmusic.com/sounds/<%= @sound.slug %>" 
				data-title="Fairsplit Music project" 
				data-description="<%= truncate(@sound.description, :length => 90) %>" 
				data-via="fairsplitmusic" 
				data-media="http://sonnyt.com/assets/imgs/prettySocial.png" 
				class="socialLinksHidden"
			>
			<%= link_to "", "#", data: { type: 'linkedin' }, :class => 'prettySocial fa fa-linkedin socialLinks' %>
		</div>
		<hr class="projectSeparator" />
		<div class="fitvids">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/<%= @sound.soundcloud %>&amp;color=bdbdbd&amp;background_color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_artwork=false" src="about:blank">
			</iframe>
		</div>
		<hr class="projectSeparator" />
		<% if @sound.description? %><p class="projectDetail"><%= simple_format @sound.description, :class => "projectDetail descriptionSize1" %></p><% end %>
	</div>
</div>