<div class="col-md-4">
	<div class="leftSide">
		<% if user_signed_in? %>
			<div class="userInfo">
				<div>{ Logged in as <strong><%= current_user.email %></strong> }</div>
				<%= link_to 'Edit', edit_user_registration_path %> | 
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete %> |
				<%= link_to 'CMS', cms_path %></div>
			</div>
		<% end %>
		<div class="logo"><a href="#filter=.home"><%= image_tag('logo.png') %></a></div>
		<div class="navigationWrapper">
			<ul id="menu" class="navigation option-set clearfix" data-option-key="filter" id="filters">
				<li class="navButton"><a class="fixMute" href="#filter=.work">Our Work</a></li>
				<li class="navButton"><a class="fixMute" href="#filter=.artists">Artists</a></li>
				<li class="navButton"><a class="fixMute" href="#filter=.listen">Listen</a></li>
				<!--<li class="navButton"><a href="#filter=.manifesto">Manifesto</a></li>-->
				<li class="navButton"><a class="fixMute" href="#filter=.contact">Contact</a></li>
			</ul>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/pages/Fairsplit-Music/609198105854352" target="_blank">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
			<a href="https://twitter.com/FairsplitMusic" target="_blank">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
			<a class="fixMute" href="#filter=.contact">
				<i class="fa fa-envelope-o fa-lg"></i>
			</a>
			<a href="" target="_blank">
				<i class="fa fa-instagram fa-lg"></i>
			</a>
			<a href="https://www.youtube.com/channel/UCcjbocHGR4WaSlrkqSfbwBg" target="_blank">
				<i class="fa fa-youtube fa-lg"></i>
			</a>
			<a href="https://soundcloud.com/fairsplit-music" target="_blank">
				<i class="fa fa-soundcloud"></i>
			</a>
		</div>
		<!--<div class="client"><a href="#filter=.client_login">Client Login</a></div>-->
	</div>
</div>