<div class="col-md-8">
	<div class="rightSide">
		<div id="content">
				<div class="">
		    		<div id="container" class="clearfix">
						<div class="elementContainer clearfix home"><%= render 'news' %></div>
						<div class="elementContainer clearfix work"><%= render 'work' %></div>
						<div class="elementContainer clearfix artists"><%= render 'artists' %></div>
						<div class="elementContainer clearfix listen"><%= render 'listen' %></div>
						<div class="elementContainer clearfix manifesto"><%= render 'manifesto' %></div>
						<div class="elementContainer clearfix contact"><%= render 'contact' %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>