<div class="col-md-8">
	<div class="rightSide">
		<div id="content">
				<div class="">
		    		<div id="container" class="clearfix">
						<div class="elementContainer clearfix announcements"><%= render 'announcements' %></div>
						<div class="elementContainer clearfix works"><%= render 'work' %></div>
						<div class="elementContainer clearfix artists"><%= render 'artists' %></div>
						<div class="elementContainer clearfix playlists"><%= render 'playlists' %></div>
						<div class="elementContainer clearfix manifesto"><%= render 'manifesto' %></div>
						<div class="elementContainer clearfix contact"><%= render 'contact' %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>