<div class="col-md-6">
	<div class="rightSide">
		<div id="content">
				<div class="">
		    		<div id="container" class="clearfix">
						<div class="element clearfix home"><%= render 'news' %></div>
						<div class="element clearfix work"><%= render 'work' %></div>
						<div class="element clearfix artists"><%= render 'artists' %></div>
						<div class="element clearfix listen"><%= render 'listen' %></div>
						<div class="element clearfix manifesto"><%= render 'manifesto' %></div>
						<div class="element clearfix contact"><%= render 'contact' %></div>
						<div class="element clearfix client_login"><%= render 'client_login' %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>